*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.canvas{
    display: flex;                          
    justify-content: center;                
    align-items: center;                    
    min-height: 100vh;
    background: yellowgreen;    
    position: relative;
}

.container{
    display: flex;                          /** 弹性布局 */
    justify-content: center;                /** 居中排列 */
    align-items: center;                    /** 居中对齐 */
    flex-direction: column;
    width : 50px;
    height : 56px;
    background-color: white;
    overflow: hidden;
    position: relative;
    transition: all 1s ease-in-out;
    border-radius: 5px;
    /* border: 1px solid red; */
}
/* 除开关按钮外的主体 */
.detail{
    display: flex;                          /** 弹性布局 */
    justify-content: center;                /** 居中排列 */
    align-items: center;                    /** 居中对齐 */
    flex-direction: column;
    overflow: hidden;
    transition: all 1s ease-in-out;
    position: absolute;
    bottom : 0;
    /* clip: rect(260px,170px,400px,130px); */
}
/* 开关按钮 */
.open{
    z-index: 9;
    top: 0;
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    border: none;
}
/* 歌名 */
.name{
    transition: all 1s ease-in-out;
    /* display: none; */
}
/* 图片 */
.image{
    transition: all 1s ease-in-out;
    max-height: 213px;
    /* display: none; */
}
/* 歌曲进度条和时间的主体 */
.ProgressBar{
    /* border: 1px solid red; */
    height: 30px;
    width: 100%;
    /* display: none; */
}
/* 进度条 */
.progress{
    width: 100%;
    height: 5px;
    position: relative;
    cursor: pointer;
    transition: all 1s ease-in-out;
    /* background-color: gray; */
}
.inner{
    width: 0%;
    height: 5px;
    position: absolute;
    /* transition: all 0.5s ease-in-out; */
    background-color: gray;
}
/* 两个时间的主体 */
.times{
    display: flex;
    justify-content: space-between; 
}

/* 下方播放ui的主体 */
.play-ui{
    display: flex;
    flex-direction: row;
}
/* 播放按钮 */
.play{
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50px;
}
.play-btn{
    position: relative;
    top: -7px;
    left: -6px;
}
/* 除播放按钮之外的按钮 */
.previous,.next,.volume,.loop{
    position: relative;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    /* background-color: white; */
    border: none;
    z-index: 2;
}

.volumePG{
    position: absolute;
    display: flex;                          
    justify-content: center;                
    align-items: center;     
    height: 29px;      
    width: 100px;
    transform: rotate(-90deg);
    transform-origin: 0% 50%;
    background-color: #f0f0f0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 230px;
    bottom: 10px;
    clip: rect(0px,0px,200px,0px);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.volumePG span{
    display: flex;   
    position: relative;
    right: -5px;
    font-size: small;
    transform: rotate(90deg);
}
.volumeRange{
    /* -webkit-appearance: none; */
    position: relative;
    right: -5px;
    width: 60px;
    height: 5px;
    background-color: white;
    outline: none;
}