*{
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
}
.canvas{
    /* display: flex;                          
    justify-content: center;                
    align-items: center;                     */
    min-height: 100vh;
    background: none;
    z-index: 10;           
}
.container{
    width: 86%;
    /* background-color: white; */
}
.row div{
    padding: 0;
    margin-left: 5vw;
    height: 12vw;
    border-radius: 20px;
}
.cover{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row div:hover{
    filter: drop-shadow( 0 0 25px white);
}